*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MIX */

.flex{
  display: flex
}

/* BUTTONS */

.btn{
  background-color: transparent;
  border: none;
  color: #717171;
  padding: none
}

.btn.square{
  font-size: 30px;
  font-weight: bold;
  width:40px;
  height:40px;
  background-color: #a3a3a3;
  color: #717171
}

.btn.round{
  border-radius: 15px;
  border: 1px solid white;
  color: #fff;
  font-size: 10px;
  margin-right: 18px;
  padding: 8px 25px;
}

/* TYPO */

body{
  color: #717171
}

a{
  text-decoration: none;
  color: #717171
}


h4{
  color: #fff;
  font-size: 20px;
  padding-bottom: 10px
}

hr{
  margin: 6px 0;
  width:90%
}
/* COLORS */

.text-white{
  color:#fff
}

/* STRUTTURA DI BASE */

.pop-up{
  justify-content: flex-end;
  align-items: center;
  position:fixed;
  top:0;
  height: 60px;
  width:100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20

}

main{
  height: calc(100vh - 75px);
  justify-content:flex-start;
  background-color:#141922;
}

#main-side-bar{
  height: 100% ;
  background-color: #000;
  flex-basis: 150px;
  flex-shrink: 0;
  padding: 10px 0 0 15px;
}

#main-scroll-container{
  height: 100%;
  overflow: auto;
  width: 100%
}

footer{
  height: 75px;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px
}

/* SIDE BAR */

/* logo */

#aside_logo > img{
  height: 40px;
  width:110px;
  margin-bottom: 20px
}

/* Main Nav */

#main_nav{
  padding-bottom: 20px
}

.command_list{
  list-style: none
}

/* Crea Playlist */

.new-playlist{
  align-items: center;
  padding-bottom: 15px
}

.add{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px
}

.create{
  padding-left: 6px;
  font-size: 14px
}

/* Elenco Playlist */

.playlist-scroll{
height: 30vh;
overflow: auto;
}

.playlist-item{
  padding: 5px 0
}

/* Sezione Profilo */

#profile-side{
  position: fixed;
  bottom:80px
}

 .profile-reminder{
   align-items: center;
 }

 .profile-name{
   padding-left: 10px
 }

/* MAIN SCROLL CONTAINER */

/* Top Nav */

.top-nav{
  padding-top: 60px;
  justify-content: center;
  flex-basis: 500px;
  font-size: 14px
}

.top-nav-list{
  flex-basis: 50%;
  padding-top: 18px;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-shrink: 0;
}

.top-nav-list li{
  flex-basis: calc(100%/6);
  flex-shrink: 0;
}

#selected::after{
  content: "";
  display: block;
  background-color: #adff2f;
  width: 40px;
  height: 3px;
  margin-left: 25px;
  margin-top: 3px
}

/* FOOTER */

.footer-nav-left{
  flex-basis: 180px;
  align-items: center;
  justify-content: space-around;
}

.player-pic{
  flex-basis: 40px
}
.player-pic img{
  width:100%
}

.footer-player{
  flex-basis: 200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer-player button{
  flex-basis: calc(100% / 5)
}

.player-icon{
  font-size: 18px
}

.play-icon{
  font-size: 30px
}

.footer-nav-right{
  flex-basis: 150px;
  align-items: center;
  justify-content: space-around;
}

.footer-nav-right button{
  flex-basis: 15%
}



/* MEDIA QUERY */

/* < 1100 PX */
/* ------------------------------------- */

@media screen and (max-width: 1100px){

}

/* < 700 PX */
/* ------------------------------------- */

@media screen and (max-width: 700px){

}

/* < 600 PX */
/* ------------------------------------- */

@media screen and (max-width: 600px){

  /* STRUTTURA DI BASE */

  aside.main-side-bar{
    height:100%;
    background-color: blue;
    flex-basis: 80px
  }


}
