*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MIX */

.flex{
  display: flex
}

/* BUTTONS */

.btn{
  background-color: transparent;
  border: none;
  color: #717171;
  padding: none
}

.btn.square{
  font-size: 20px;
  width:40px;
  height:40px;
  background-color: #a3a3a3;
  color: #717171



}
/* TYPO */

a{
  text-decoration: none;
  color: #717171
}

h4{
  color: #fff;
  font-size: 20px;
  padding-bottom: 10px
}

hr{
  margin: 6px 0;
  width:90%
}
/* COLORS */

.text-white{
  color:#fff
}

/* STRUTTURA DI BASE */

main{
  height: calc(100vh - 75px);
  justify-content:flex-start;
}

#main-side-bar{
  height: 100% ;
  background-color: #000;
  flex-basis: 150px;
  flex-shrink: 0;
  padding-left:15px
}

#main-scroll-container{
  height: 100%;
  background-color:green;
  overflow: auto;
}

footer{
  height: 75px;
  background-color: red
}

div.pop-up{
  position:fixed;
  top:0;
  height: 60px;
  width:100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20

}

/* SIDE BAR */

/* logo */

#aside_logo>img{
  max-width: 100px
}

/* Main Nav */

#main_nav{
  padding-bottom: 20px
}

.command_list{
  list-style: none
}

/* Crea Playlist */

.new-playlist{
  align-items: center;
  padding-bottom: 15px
}

.add{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px
}

.create{
  padding-left: 6px;
  font-size: 14px
}

/* Elenco Playlist */

.playlist-scroll{
height: 30vh;
overflow: auto;
}

.playlist-item{
  padding: 5px 0
}

/* Sezione Profilo */

#profile-side{
  position: fixed;
  bottom:80px
}

 .profile-reminder{
   align-items: center;
 }

 .profile-name{
   padding-left: 10px
 }

/* MEDIA QUERY */

/* < 1100 PX */
/* ------------------------------------- */

@media screen and (max-width: 1100px){

}

/* < 700 PX */
/* ------------------------------------- */

@media screen and (max-width: 700px){

}

/* < 600 PX */
/* ------------------------------------- */

@media screen and (max-width: 600px){

  /* STRUTTURA DI BASE */

  aside.main-side-bar{
    height:100%;
    background-color: blue;
    flex-basis: 80px
  }


}
